{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    margin-block-start: 2rem;
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
    {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }

  {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
    #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
      grid-column: span 2;
    }

    #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
      grid-column: span 1;
    }
  {%- endif -%}
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
  }
  .animated-svg {
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 10vw;
    aspect-ratio: 1 / 1;
  }
   .animated-svg svg {
     height: 100%;
     width: 100%;
     animation: rotate-svg 8s linear infinite;
   }
  @keyframes rotate-svg {
    0%{
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @media screen and (max-width: 999px) {
    .animated-svg {
    position: absolute;
    top: 0%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 25vw;
    aspect-ratio: 1 / 1;
  }
  }
     @media screen and (max-width: 700px) {
       #shopify-section-{{ section.id }} .section-boxed {
        box-shadow: var(--shadow-block);
      }
     }
</style>

<div {% render 'section-properties', tight: true %}>
  <div class="product">
    {%- if section.settings.product != blank -%}
      {%- if section.settings.product.media.size > 0 -%}
        {%- render 'product-gallery', product: section.settings.product -%}
      {%- endif -%}

      {%- render 'product-info', product: section.settings.product, update_url: false -%}
    {%- else -%}
      <product-gallery form="placeholder-{{ section.id }}" class="product-gallery {% if section.settings.mobile_carousel_control contains 'dots' %}product-gallery--mobile-dots{% endif %} {% if section.settings.desktop_media_layout contains 'grid' %}product-gallery--desktop-grid{% else %}product-gallery--desktop-carousel{% endif %} {% if section.settings.desktop_media_layout == 'carousel_thumbnails_left' %}product-gallery--desktop-thumbnails-left{% endif %} {% if section.settings.mobile_media_size == 'expanded' %}product-gallery--mobile-expanded{% endif %}">
        <div class="product-gallery__ar-wrapper">
          <div class="product-gallery__media-list-wrapper">

            <media-carousel desktop-mode="{{ section.settings.desktop_media_layout }}" adaptive-height class="product-gallery__media-list {% if section.settings.mobile_media_size == 'expanded' %}full-bleed{% else %}bleed{% endif %} scroll-area md:unbleed">
              <div class="product-gallery__media {% if section.settings.mobile_carousel_control != 'free_scroll' %}snap-center{% endif %}">
                {{- 'product-1' | placeholder_svg_tag: 'placeholder rounded' -}}
              </div>
            </media-carousel>
          </div>
        </div>
      </product-gallery>

      <safe-sticky class="product-info">
        {%- capture product_form_id -%}featured-product-form-{{ section.id }}{%- endcapture -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'vendor' -%}
              <div class="product-info__vendor" {{ block.shopify_attributes }}>{{- 'general.on_boarding.product_vendor' | t -}}</div>

            {%- when 'title' -%}
              <h2 class="product-info__title {{ block.settings.heading_tag }}" {{ block.shopify_attributes }}>{{ 'general.on_boarding.product_title' | t }}</h2>

            {%- when 'price' -%}
              <div class="product-info__price">
                <price-list class="price-list price-list--lg">
                  <sale-price class="text-lg">{{ 4000 | money }}</sale-price>
                </price-list>
              </div>

            {%- when 'separator' -%}
              <hr class="product-info__separator" {{ block.shopify_attributes }}>

            {%- when 'description' -%}
              <div class="product-info__description" {{ block.shopify_attributes }}>
                <div class="prose">
                  {{- 'general.on_boarding.product_description' | t -}}
                </div>
              </div>

            {%- when 'quantity_selector' -%}
              <div class="product-info__quantity-selector {{ block.shopify_attributes }}">
                <div class="form-control">
                  <label for="{{ product_form_id }}-quantity" class="block-label text-subdued">{{- 'product.quantity.label' | t -}}:</label>

                  <quantity-selector class="quantity-selector">
                    <button type="button" class="quantity-selector__button" aria-label="{{ 'product.quantity.decrease_quantity' | t }}">{% render 'icon' with 'minus', width: 10, height: 2 %}</button>
                    <input id="{{ product_form_id }}-quantity" type="text" is="quantity-input" inputmode="numeric" class="quantity-selector__input" name="quantity" form="{{ product_form_id }}" size="2" value="1" autocomplete="off">
                    <button type="button" class="quantity-selector__button" aria-label="{{ 'product.quantity.increase_quantity' | t }}">{% render 'icon' with 'plus', width: 10, height: 10 %}</button>
                  </quantity-selector>
                </div>
              </div>

            {%- when 'buy_buttons' -%}
              <div class="product-info__buy-buttons" {{ block.shopify_attributes }}>
                <buy-buttons class="buy-buttons">
                  {%- capture button_content -%}{{ 'product.general.add_to_cart_button' | t }}{%- endcapture -%}
                  {%- render 'button', content: button_content, type: 'submit', size: 'xl', background: block.settings.atc_button_background, text_color: block.settings.atc_button_text_color -%}
                </buy-buttons>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </safe-sticky>
    {%- endif -%}
  </div>
</div>
<div class="animated-svg">
  <svg width="310" height="310" viewBox="0 0 310 310" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M289 155C289 229.006 229.006 289 155 289C80.9938 289 21 229.006 21 155C21 80.9938 80.9938 21 155 21C229.006 21 289 80.9938 289 155Z" stroke="black" stroke-width="42"/>
<path d="M280.471 163.584C280.643 161.11 281.585 158.81 283.241 157.201L285.664 159.534C284.471 160.835 283.786 162.331 283.673 163.947C283.601 164.984 283.922 165.568 284.52 165.61L284.56 165.612C285.139 165.653 285.49 165.216 286.061 163.351C286.946 160.425 287.943 158.189 290.816 158.389L290.856 158.392C293.45 158.572 295.182 160.758 294.949 164.11C294.784 166.484 294.017 168.295 292.694 169.727L290.095 167.601C291.082 166.387 291.658 165.024 291.744 163.787C291.809 162.849 291.442 162.362 290.943 162.327L290.903 162.325C290.265 162.28 289.952 162.74 289.379 164.644C288.457 167.808 287.281 169.731 284.667 169.549L284.627 169.547C281.774 169.348 280.235 166.976 280.471 163.584Z" fill="white"/>
<path d="M276.192 175.756L289.889 178.75L289.077 182.462L287.671 182.154C288.392 183.07 288.957 184.135 288.611 185.718C288.061 188.238 285.496 189.95 282.116 189.211L282.077 189.202C278.638 188.451 277.021 185.825 277.568 183.324C277.918 181.722 278.846 180.942 279.797 180.433L275.381 179.468L276.192 175.756ZM280.926 182.85C280.662 184.062 281.429 185.233 282.856 185.544L282.895 185.553C284.282 185.856 285.488 185.117 285.753 183.905C286.013 182.713 285.226 181.538 283.839 181.235L283.8 181.226C282.393 180.919 281.187 181.659 280.926 182.85Z" fill="white"/>
<path d="M272.9 198.813C274.116 195.573 277.372 194.125 280.256 195.207L280.293 195.221C283.177 196.303 284.707 199.569 283.484 202.827C282.269 206.067 279.013 207.515 276.129 206.433L276.091 206.419C273.208 205.337 271.678 202.071 272.9 198.813ZM275.901 199.981C275.416 201.274 276.137 202.484 277.354 202.941L277.391 202.955C278.627 203.418 280.013 202.913 280.484 201.658C280.969 200.366 280.248 199.156 279.031 198.699L278.993 198.685C277.757 198.222 276.372 198.727 275.901 199.981Z" fill="white"/>
<path d="M267.815 211.273L277.365 216.358L275.579 219.712L273.655 218.688C274.67 219.931 275.047 221.265 274.13 222.816L270.6 220.936L270.75 220.653C271.681 218.906 271.201 217.381 268.994 216.206L266.028 214.627L267.815 211.273Z" fill="white"/>
<path d="M258.263 226.846C259.549 224.964 261.142 224.406 263.272 225.862L266.905 228.345L267.627 227.288L270.153 229.015L269.431 230.072L271.693 231.618L269.548 234.755L267.286 233.209L265.864 235.289L263.338 233.562L264.76 231.482L261.739 229.416C261.111 228.987 260.655 229.088 260.26 229.665C259.978 230.078 259.823 230.553 259.745 231.057L257.284 229.376C257.355 228.6 257.664 227.721 258.263 226.846Z" fill="white"/>
<path d="M246.677 241.893L253.987 249.87L251.186 252.437L250.186 251.346C250.278 252.483 250.094 253.763 248.974 254.79C247.912 255.763 246.669 256.034 245.484 255.6C245.521 257.031 245.17 258.276 244.005 259.343C242.309 260.897 240.304 260.782 238.601 258.924L233.805 253.689L236.606 251.122L240.579 255.457C241.376 256.327 242.222 256.392 242.886 255.784C243.549 255.176 243.617 254.273 242.82 253.403L238.847 249.068L241.649 246.501L245.622 250.836C246.419 251.706 247.265 251.771 247.929 251.163C248.592 250.555 248.645 249.665 247.848 248.795L243.875 244.46L246.677 241.893Z" fill="white"/>
<path d="M223.807 260.261C226.706 258.371 230.187 259.134 231.869 261.714L231.891 261.748C233.573 264.328 232.87 267.866 229.955 269.766C227.056 271.655 223.575 270.893 221.893 268.312L221.871 268.279C220.189 265.699 220.892 262.161 223.807 260.261ZM225.532 262.98C224.376 263.734 224.239 265.136 224.949 266.225L224.971 266.258C225.692 267.364 227.108 267.778 228.23 267.047C229.386 266.293 229.523 264.891 228.813 263.802L228.791 263.768C228.07 262.663 226.654 262.248 225.532 262.98Z" fill="white"/>
<path d="M208.556 268.848C210.61 267.859 212.269 268.17 213.388 270.495L215.296 274.46L216.45 273.905L217.777 276.662L216.623 277.217L217.812 279.686L214.388 281.334L213.199 278.865L210.929 279.958L209.602 277.201L211.872 276.108L210.285 272.81C209.956 272.125 209.51 271.984 208.88 272.288C208.429 272.505 208.057 272.839 207.738 273.237L206.446 270.551C206.894 269.914 207.601 269.308 208.556 268.848Z" fill="white"/>
<path d="M203.752 283.941L204.706 286.573L200.983 287.922L200.028 285.29L203.752 283.941ZM199.656 272.874L203.342 283.046L199.77 284.341L196.083 274.169L199.656 272.874Z" fill="white"/>
<path d="M185.535 277.196L192.303 286.77L188.416 287.713L184.905 282.062L184.374 288.694L180.545 289.623L182.173 278.012L185.535 277.196Z" fill="white"/>
<path d="M169.527 279.943C171.576 279.737 173.266 280.753 173.483 282.902L173.487 282.942C173.711 285.171 172.135 286.495 169.608 286.749C168.613 286.849 167.618 286.749 166.979 286.592L166.997 286.771C167.109 287.885 167.87 288.452 169.323 288.306C170.457 288.192 171.31 287.885 172.228 287.411L173.272 289.999C172.108 290.619 170.849 291.087 168.998 291.273C167.068 291.467 165.708 291.142 164.766 290.372C163.87 289.658 163.42 288.578 163.268 287.065L162.645 280.877L166.387 280.5L166.499 281.615C167.153 280.725 168.114 280.085 169.527 279.943ZM168.412 282.448C167.317 282.558 166.611 283.332 166.719 284.407L166.769 284.904C167.163 285.025 167.713 285.091 168.27 285.035C169.364 284.925 169.947 284.323 169.867 283.527L169.863 283.487C169.789 282.751 169.188 282.369 168.412 282.448Z" fill="white"/>
<path d="M150.666 280.713C152.945 280.766 154.281 281.797 154.222 284.377L154.12 288.775L155.399 288.805L155.329 291.864L154.049 291.835L153.986 294.574L150.187 294.486L150.25 291.747L147.731 291.688L147.802 288.629L150.321 288.687L150.406 285.028C150.423 284.269 150.091 283.941 149.391 283.925C148.891 283.913 148.408 284.042 147.943 284.251L148.012 281.272C148.701 280.908 149.606 280.689 150.666 280.713Z" fill="white"/>
<path d="M139.529 291.95L139.185 294.729L135.255 294.242L135.599 291.463L139.529 291.95ZM140.901 280.23L139.57 290.968L135.799 290.501L137.13 279.763L140.901 280.23Z" fill="white"/>
<path d="M125.271 277.206C128.633 278.022 130.464 281.08 129.738 284.073L129.728 284.112C129.002 287.105 125.945 289.018 122.563 288.197C119.2 287.381 117.37 284.323 118.096 281.33L118.105 281.291C118.832 278.298 121.889 276.385 125.271 277.206ZM124.473 280.326C123.132 280 122.017 280.862 121.711 282.125L121.701 282.164C121.39 283.447 122.059 284.761 123.361 285.077C124.702 285.403 125.817 284.541 126.123 283.278L126.132 283.239C126.444 281.956 125.775 280.642 124.473 280.326Z" fill="white"/>
<path d="M112.683 273.822L108.655 283.865L105.129 282.45L105.694 281.039C104.71 281.614 103.461 282.04 102.032 281.467C99.8974 280.61 99.1825 278.686 100.098 276.403L102.734 269.832L106.261 271.246L104.079 276.685C103.64 277.78 103.977 278.605 104.813 278.94C105.666 279.282 106.536 278.942 106.975 277.846L109.157 272.408L112.683 273.822Z" fill="white"/>
<path d="M83.4023 258.403C85.4394 259.818 86.9329 261.804 87.4673 264.05L84.2216 264.937C83.7155 263.247 82.7814 261.892 81.4507 260.968C80.5965 260.375 79.9312 260.351 79.589 260.844L79.5661 260.877C79.2353 261.353 79.4306 261.878 80.7403 263.324C82.8002 265.582 84.2103 267.584 82.5676 269.949L82.5448 269.982C81.0618 272.118 78.2974 272.487 75.5376 270.57C73.5827 269.213 72.4199 267.626 71.8673 265.757L75.0236 264.613C75.5616 266.083 76.4378 267.275 77.4563 267.983C78.2284 268.519 78.8344 268.453 79.1196 268.042L79.1424 268.009C79.5074 267.483 79.2729 266.98 77.9304 265.512C75.6848 263.1 74.6352 261.105 76.1296 258.953L76.1524 258.92C77.7837 256.571 80.6096 256.464 83.4023 258.403Z" fill="white"/>
<path d="M75.173 248.485L65.5888 258.717L62.8154 256.12L63.7998 255.069C62.6444 255.22 61.4398 255.16 60.2574 254.053C58.3744 252.289 58.2171 249.209 60.5823 246.684L60.6097 246.655C63.016 244.086 66.0992 244.042 67.9676 245.792C69.1645 246.913 69.3593 248.109 69.3097 249.186L72.3996 245.887L75.173 248.485ZM66.6549 248.919C65.7499 248.072 64.3511 248.132 63.353 249.197L63.3257 249.226C62.3549 250.263 62.3729 251.677 63.2779 252.525C64.1683 253.359 65.5809 253.284 66.5516 252.248L66.5789 252.219C67.5633 251.168 67.5454 249.753 66.6549 248.919Z" fill="white"/>
<path d="M56.8953 233.659C59.0511 236.366 58.6221 239.904 56.213 241.823L56.1817 241.848C53.7727 243.767 50.1845 243.403 48.0163 240.681C45.8604 237.975 46.2894 234.437 48.6985 232.518L48.7298 232.493C51.1389 230.574 54.727 230.937 56.8953 233.659ZM54.3518 235.634C53.492 234.555 52.0833 234.552 51.0665 235.362L51.0352 235.387C50.0027 236.209 49.7248 237.658 50.5598 238.706C51.4196 239.786 52.8283 239.789 53.8451 238.979L53.8764 238.954C54.9088 238.131 55.1867 236.682 54.3518 235.634Z" fill="white"/>
<path d="M48.9902 223.199L39.7563 228.839L37.7756 225.596L39.6361 224.46C38.0498 224.702 36.7093 224.349 35.8394 222.771L39.253 220.686L39.4198 220.959C40.4519 222.649 42.0086 223.011 44.1421 221.708L47.0096 219.956L48.9902 223.199Z" fill="white"/>
<path d="M40.3664 206.858C41.3245 208.927 40.9886 210.582 38.6474 211.666L34.6548 213.515L35.1926 214.676L32.4159 215.962L31.8781 214.801L29.3917 215.952L27.7949 212.504L30.2812 211.353L29.2222 209.066L31.999 207.78L33.0579 210.067L36.3791 208.529C37.0687 208.209 37.2162 207.766 36.9221 207.131C36.712 206.677 36.3832 206.301 35.9903 205.976L38.6944 204.723C39.325 205.181 39.9209 205.897 40.3664 206.858Z" fill="white"/>
<path d="M33.4504 189.546L22.8542 191.735L22.0853 188.014L23.5347 187.715C22.5117 187.211 21.5063 186.398 21.1987 184.909C20.9074 183.499 21.3115 182.292 22.291 181.498C21.0431 180.796 20.1546 179.856 19.8349 178.309C19.3695 176.056 20.4965 174.394 22.9643 173.884L29.9175 172.447L30.6864 176.169L24.928 177.358C23.7724 177.597 23.2826 178.291 23.4647 179.172C23.6468 180.053 24.3875 180.574 25.5431 180.335L31.3015 179.146L32.0704 182.867L26.312 184.057C25.1565 184.296 24.6666 184.989 24.8488 185.87C25.0309 186.752 25.7675 187.253 26.9231 187.014L32.6815 185.825L33.4504 189.546Z" fill="white"/>
<path d="M29.3736 160.455C29.5071 163.912 27.0654 166.508 23.9877 166.627L23.9477 166.629C20.87 166.748 18.1947 164.329 18.0605 160.852C17.927 157.394 20.3686 154.798 23.4463 154.679L23.4863 154.678C26.564 154.559 29.2393 156.978 29.3736 160.455ZM26.1544 160.539C26.1012 159.16 24.968 158.323 23.669 158.373L23.629 158.375C22.31 158.426 21.2279 159.428 21.2796 160.767C21.3328 162.146 22.466 162.983 23.765 162.933L23.805 162.932C25.124 162.881 26.2061 161.878 26.1544 160.539Z" fill="white"/>
<path d="M29.8045 142.737C29.6026 145.008 28.486 146.274 25.9162 146.046L21.5335 145.656L21.4201 146.931L18.3721 146.66L18.4855 145.385L15.7563 145.142L16.0929 141.357L18.8221 141.6L19.0453 139.09L22.0933 139.361L21.8701 141.871L25.5157 142.195C26.2727 142.262 26.6216 141.952 26.6836 141.255C26.7279 140.757 26.6309 140.266 26.4525 139.788L29.4208 140.052C29.7391 140.763 29.8984 141.681 29.8045 142.737Z" fill="white"/>
<path d="M19.3601 130.478L16.6117 129.943L17.3686 126.056L20.1169 126.591L19.3601 130.478ZM30.9579 132.655L20.3374 130.587L21.0636 126.857L31.6842 128.925L30.9579 132.655Z" fill="white"/>
<path d="M34.3677 118.74L22.6756 119.617L23.8672 115.799L30.5199 115.696L25.1065 111.827L26.2802 108.066L35.3984 115.437L34.3677 118.74Z" fill="white"/>
<path d="M40.1338 103.673C39.2612 105.539 37.5231 106.471 35.5664 105.556L35.5302 105.539C33.5011 104.59 33.1704 102.559 34.2463 100.258C34.6699 99.352 35.2662 98.549 35.7281 98.0806L35.5651 98.0043C34.5505 97.5299 33.6743 97.8929 33.0558 99.2154C32.5729 100.248 32.3994 101.138 32.337 102.169L29.5789 101.74C29.6428 100.423 29.8855 99.1018 30.6733 97.4169C31.4951 95.6596 32.471 94.6587 33.6143 94.2439C34.6863 93.84 35.8449 94.0065 37.2218 94.6503L42.8562 97.2851L41.2635 100.691L40.2489 100.217C40.6782 101.234 40.7353 102.387 40.1338 103.673ZM38.554 101.433C39.02 100.437 38.7163 99.4337 37.7379 98.9762L37.285 98.7644C36.9791 99.0409 36.6417 99.4792 36.4045 99.9865C35.9385 100.983 36.1566 101.791 36.8812 102.13L36.9175 102.147C37.5878 102.461 38.2236 102.14 38.554 101.433Z" fill="white"/>
<path d="M49.0338 87.1991C47.8169 89.1272 46.2454 89.7436 44.0636 88.3666L40.3427 86.0182L39.6595 87.1007L37.0718 85.4675L37.755 84.385L35.4379 82.9226L37.466 79.7091L39.7831 81.1715L41.1281 79.0404L43.7158 80.6736L42.3708 82.8047L45.466 84.7581C46.1087 85.1637 46.5607 85.047 46.9343 84.455C47.2012 84.0322 47.339 83.5516 47.3985 83.0451L49.9185 84.6356C49.877 85.4135 49.5996 86.3027 49.0338 87.1991Z" fill="white"/>
<path d="M44.8425 72.1631L42.6335 70.4425L45.0668 67.3184L47.2758 69.0389L44.8425 72.1631ZM54.201 79.3509L45.6648 72.7021L47.9998 69.7042L56.5361 76.3529L54.201 79.3509Z" fill="white"/>
<path d="M64.9525 67.2361C62.5237 69.7004 58.9598 69.698 56.7661 67.536L56.7377 67.5079C54.544 65.3459 54.4754 61.7401 56.9182 59.2615C59.3469 56.7972 62.9108 56.7996 65.1045 58.9616L65.133 58.9897C67.3266 61.1517 67.3953 64.7576 64.9525 67.2361ZM62.6872 64.9473C63.6559 63.9645 63.4901 62.5656 62.5643 61.653L62.5358 61.625C61.5956 60.6984 60.1241 60.5959 59.1834 61.5503C58.2148 62.5332 58.3805 63.9321 59.3064 64.8446L59.3349 64.8727C60.275 65.7993 61.7466 65.9017 62.6872 64.9473Z" fill="white"/>
<path d="M74.43 57.972L67.8751 49.3636L70.8984 47.0615L71.8192 48.2708C71.8309 47.1307 72.1055 45.8406 73.3307 44.9077C75.1606 43.5143 77.1794 43.8876 78.6697 45.8448L82.9589 51.4777L79.9356 53.7798L76.3855 49.1175C75.6706 48.1787 74.7896 48.0451 74.0736 48.5904C73.3416 49.1477 73.1884 50.0689 73.9032 51.0077L77.4533 55.6699L74.43 57.972Z" fill="white"/>
<path d="M102.76 40.5673C100.502 41.5927 98.0304 41.8583 95.8275 41.1672L96.7276 37.925C98.4389 38.356 100.081 38.2474 101.556 37.5776C102.503 37.1476 102.864 36.5883 102.616 36.0419L102.599 36.0055C102.36 35.4774 101.808 35.3762 99.8965 35.7612C96.9019 36.3741 94.4604 36.5602 93.2697 33.9379L93.2531 33.9015C92.1782 31.5341 93.2765 28.9706 96.3359 27.5814C98.5029 26.5974 100.461 26.4111 102.35 26.8935L101.716 30.1904C100.178 29.9002 98.7052 30.042 97.5762 30.5547C96.7203 30.9433 96.4668 31.4977 96.6735 31.953L96.6901 31.9894C96.9547 32.5721 97.5075 32.6286 99.4559 32.2271C102.677 31.5332 104.928 31.6532 106.011 34.0388L106.028 34.0752C107.21 36.6793 105.856 39.1616 102.76 40.5673Z" fill="white"/>
<path d="M115.433 38.5635L111.561 25.0888L115.214 24.0393L115.611 25.4233C116.074 24.354 116.743 23.3502 118.3 22.9029C120.78 22.1904 123.504 23.6341 124.46 26.9595L124.471 26.9979C125.443 30.3811 123.9 33.0509 121.44 33.7579C119.864 34.2108 118.736 33.7647 117.837 33.1699L119.086 37.5141L115.433 38.5635ZM119.427 31.0274C120.619 30.685 121.285 29.4532 120.882 28.05L120.871 28.0116C120.479 26.6468 119.255 25.9371 118.063 26.2795C116.891 26.6165 116.23 27.8674 116.623 29.2322L116.634 29.2707C117.031 30.6547 118.255 31.3643 119.427 31.0274Z" fill="white"/>
<path d="M137.167 30.5107C133.738 30.9758 130.92 28.7949 130.506 25.7429L130.5 25.7032C130.086 22.6512 132.236 19.7558 135.685 19.288C139.113 18.8229 141.932 21.0038 142.346 24.0558L142.352 24.0954C142.766 27.1475 140.615 30.0428 137.167 30.5107ZM136.774 27.3145C138.141 27.129 138.865 25.9207 138.691 24.6325L138.685 24.5928C138.508 23.2848 137.406 22.304 136.078 22.4842C134.711 22.6697 133.986 23.878 134.161 25.1662L134.167 25.2058C134.344 26.5139 135.446 27.4946 136.774 27.3145Z" fill="white"/>
<path d="M150.682 29.0294L150.598 18.2097L154.398 18.1804L154.415 20.3603C155.023 18.8756 156.016 17.9079 157.816 17.974L157.847 21.9739L157.527 21.9764C155.547 21.9917 154.436 23.1403 154.456 25.6402L154.482 29.0001L150.682 29.0294Z" fill="white"/>
<path d="M168.822 29.9678C166.554 29.7309 165.305 28.595 165.573 26.029L166.03 21.6528L164.757 21.5198L165.075 18.4764L166.348 18.6094L166.633 15.8842L170.413 16.2791L170.128 19.0042L172.634 19.2661L172.316 22.3095L169.81 22.0477L169.43 25.6878C169.351 26.4437 169.656 26.7973 170.352 26.8701C170.849 26.922 171.341 26.8327 171.821 26.6616L171.512 29.6255C170.796 29.9328 169.876 30.078 168.822 29.9678Z" fill="white"/>
<path d="M187.539 32.8573L191.111 22.6438L194.698 23.8982L194.21 25.2953C195.167 24.6768 196.382 24.2329 197.817 24.7346C199.176 25.21 200.003 26.1773 200.181 27.4259C201.425 26.7168 202.688 26.438 204.179 26.9596C206.35 27.7189 207.196 29.5403 206.364 31.919L204.021 38.621L200.434 37.3666L202.375 31.8162C202.764 30.7024 202.421 29.9256 201.572 29.6285C200.722 29.3314 199.895 29.6988 199.505 30.8127L197.564 36.363L193.977 35.1086L195.918 29.5582C196.308 28.4444 195.965 27.6677 195.115 27.3706C194.266 27.0735 193.457 27.4475 193.067 28.5613L191.126 34.1117L187.539 32.8573Z" fill="white"/>
<path d="M215.109 44.5271C212.08 42.8559 211.117 39.4243 212.605 36.7274L212.624 36.6924C214.112 33.9955 217.565 32.9536 220.612 34.6345C223.642 36.3058 224.604 39.7374 223.116 42.4342L223.097 42.4693C221.609 45.1662 218.156 46.208 215.109 44.5271ZM216.7 41.727C217.908 42.3935 219.21 41.8554 219.838 40.7171L219.857 40.6821C220.495 39.5263 220.195 38.0819 219.022 37.4347C217.813 36.7681 216.511 37.3062 215.883 38.4445L215.864 38.4796C215.227 39.6354 215.526 41.0797 216.7 41.727Z" fill="white"/>
<path d="M229.492 53.636C227.648 52.2948 227.136 50.6861 228.654 48.5997L231.242 45.0415L230.207 44.2886L232.007 41.814L233.042 42.567L234.654 40.3512L237.727 42.5865L236.115 44.8023L238.153 46.2847L236.353 48.7593L234.315 47.2769L232.162 50.2366C231.715 50.8512 231.802 51.31 232.368 51.7218C232.772 52.0159 233.243 52.1851 233.744 52.2777L231.991 54.6876C231.218 54.5949 230.349 54.2596 229.492 53.636Z" fill="white"/>
<path d="M245.411 50.9813L247.28 48.8965L250.229 51.5399L248.359 53.6247L245.411 50.9813ZM237.594 59.8208L244.816 51.7644L247.646 54.301L240.423 62.3574L237.594 59.8208Z" fill="white"/>
<path d="M247.777 69.8476L253.009 59.3549L255.679 62.3332L252.362 68.1008L258.456 65.4307L261.086 68.3643L250.087 72.4238L247.777 69.8476Z" fill="white"/>
<path d="M258.022 82.8286C256.866 81.1237 256.955 79.1538 258.743 77.9413L258.776 77.9189C260.63 76.6615 262.544 77.4173 263.97 79.5194C264.531 80.347 264.916 81.2703 265.082 81.9069L265.231 81.8058C266.158 81.1772 266.295 80.2386 265.475 79.0303C264.835 78.0869 264.159 77.4821 263.306 76.9009L265.086 74.751C266.184 75.48 267.196 76.365 268.24 77.9044C269.329 79.5099 269.689 80.8605 269.46 82.055C269.258 83.1827 268.522 84.0928 267.264 84.946L262.116 88.4374L260.006 85.3256L260.933 84.6969C259.839 84.5448 258.819 84.0038 258.022 82.8286ZM260.755 82.6182C261.373 83.5285 262.39 83.7811 263.284 83.1749L263.697 82.8942C263.617 82.4899 263.413 81.9757 263.098 81.5122C262.481 80.6019 261.675 80.3753 261.013 80.8244L260.98 80.8468C260.367 81.2622 260.317 81.9726 260.755 82.6182Z" fill="white"/>
<path d="M267.626 98.9256C266.592 96.8937 266.866 95.228 269.165 94.0577L273.086 92.0618L272.506 90.9211L275.233 89.533L275.814 90.6738L278.255 89.4309L279.979 92.8174L277.537 94.0603L278.68 96.3061L275.953 97.6942L274.81 95.4484L271.548 97.1086C270.871 97.4533 270.74 97.9015 271.058 98.5253C271.284 98.9709 271.627 99.3352 272.032 99.6454L269.376 100.997C268.729 100.563 268.107 99.8703 267.626 98.9256Z" fill="white"/>
<path d="M282.78 103.278L285.391 102.265L286.823 105.957L284.213 106.97L282.78 103.278ZM271.809 107.622L281.896 103.707L283.271 107.25L273.184 111.165L271.809 107.622Z" fill="white"/>
<path d="M276.603 122.879C275.736 119.529 277.569 116.472 280.551 115.701L280.589 115.691C283.571 114.919 286.7 116.712 287.572 120.081C288.439 123.431 286.606 126.487 283.625 127.259L283.586 127.269C280.604 128.041 277.475 126.248 276.603 122.879ZM279.731 122.111C280.076 123.447 281.362 124.023 282.62 123.697L282.659 123.687C283.937 123.356 284.781 122.146 284.445 120.849C284.099 119.513 282.814 118.937 281.555 119.263L281.516 119.273C280.239 119.603 279.395 120.813 279.731 122.111Z" fill="white"/>
<path d="M279.611 135.475L290.363 134.268L290.787 138.044L289.276 138.214C290.249 138.809 291.215 139.707 291.387 141.237C291.643 143.523 290.287 145.064 287.842 145.338L280.806 146.128L280.383 142.352L286.206 141.698C287.379 141.566 287.945 140.879 287.845 139.985C287.742 139.07 287.031 138.466 285.858 138.598L280.034 139.251L279.611 135.475Z" fill="white"/>
</svg>
</div>
{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--featured-product",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "badges",
      "name": "Badges",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Use metafields to add custom badges. [Learn more](https://support.maestrooo.com/article/75-collection-displaying-custom-label)"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_taxes_notice",
          "label": "Show taxes notice",
          "default": false
        }
      ]
    },
    {
      "type": "payment_terms",
      "name": "Payment installments",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display payment installments, your store needs to support Shop Pay Installments. [Learn more](https://help.shopify.com/en/manual/payments/shop-pay-installments)"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)"
        },
        {
          "type": "checkbox",
          "id": "show_empty",
          "label": "Show if no reviews",
          "default": false
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator"
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "Collapse content",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "stack_blocks",
          "label": "Stack options on mobile",
          "default": true
        },
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "block_swatch",
              "label": "Block with color swatch"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant",
              "label": "Variant image"
            }
          ],
          "default": "color"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
      "type": "product_variations",
      "name": "Product variations",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Link products of different colors using swatches. [Learn more](https://support.maestrooo.com/article/307-product-creating-product-variations-that-link-to-different-pages)"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "Option name",
          "info": "Example: Color, Style..."
        },
        {
          "type": "text",
          "id": "option_value_metafield",
          "label": "Option value metafield",
          "info": "Enter namespace and key of the metafield holding the value. Eg.: custom.color"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "info": "Select all the variations (including the product itself)."
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Selector type",
          "info": "Product image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "block_swatch",
              "label": "Block with color swatch"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant",
              "label": "Product image"
            }
          ],
          "default": "color"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "info": "For text property, the customer must write a text ; for checkbox, the customer must check it to add to cart.",
          "default": false
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "number",
          "id": "max_length",
          "label": "Maximum number of characters"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "The selector is automatically hidden if all variants are sold out. When at least one variant is available, the selector is always visible to prevent the page from moving when switching variants."
        }
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift cards",
          "info": "Allow buyers to send gift cards along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color"
        },
        {
          "type": "color",
          "id": "payment_button_background",
          "label": "Buy now button background"
        },
        {
          "type": "color",
          "id": "payment_button_text_color",
          "label": "Buy now button color"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Allow your customers to see availability in retail stores by [setting up local pickup](https://help.shopify.com/en/manual/sell-in-person/shopify-pos/order-management/local-pickup-for-online-orders)."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "collapsible_text",
      "name": "Collapsible text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "X-Large"
            }
          ],
          "default": "xl"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "associated_products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, use the Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations#complementary-products)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Buy it with"
        },
        {
          "type": "checkbox",
          "id": "stack_products",
          "label": "Stack products",
          "default": true
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 1,
          "max": 10,
          "label": "Products to show",
          "default": 5
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Cards are bordered when background matches section background."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "offer",
      "name": "Offer",
      "settings": [
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "options": [
            {
              "value": "aligned",
              "label": "Aligned horizontally"
            },
            {
              "value": "stacked",
              "label": "Stacked"
            }
          ],
          "default": "aligned"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Percent",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Star",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Building",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Award gift",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Happy",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validation",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Return",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Earth",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Secure profile",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Money",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Recycle",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Leaf",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Tree",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Mobile phone",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operator",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Mailbox",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Question",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "At sign",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Camera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Printer",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Smart watch",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Coffee",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Burger",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Beer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Target",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Document",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Jewelry",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Music",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "File",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Stop",
              "group": "Other"
            }
          ],
          "default": "picto-coupon"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "240 x 240px .png recommended"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 20,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Icon width",
          "default": 24
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shipping"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your shipping rates or discounts.</p>"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#eaf2ed"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#00a341"
        }
      ]
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "settings": [
        {
          "type": "paragraph",
          "content": "To improve user experience and performance, native share buttons are used when supported."
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "range",
      "id": "desktop_media_width",
      "label": "Desktop media size",
      "min": 35,
      "max": 65,
      "step": 5,
      "unit": "%",
      "default": 55
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "label": "Desktop media layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "grid_highlight",
          "label": "Grid with main media"
        },
        {
          "value": "carousel_thumbnails_left",
          "label": "Thumbnails left (carousel)"
        },
        {
          "value": "carousel_thumbnails_bottom",
          "label": "Thumbnails bottom (carousel)"
        }
      ],
      "default": "carousel_thumbnails_left"
    },
    {
      "type":"select",
      "id": "mobile_media_size",
      "label": "Mobile media size",
      "options": [
        {
          "value": "expanded",
          "label": "Expanded"
        },
        {
          "value": "contained",
          "label": "Contained"
        }
      ],
      "default": "expanded"
    },
    {
      "type": "select",
      "id": "mobile_carousel_control",
      "label": "Mobile carousel control",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "floating_dots",
          "label": "Floating dots"
        },
        {
          "value": "thumbnails",
          "label": "Thumbnails"
        },
        {
          "value": "free_scroll",
          "label": "Free scroll"
        }
      ],
      "default": "floating_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay. Grid mode on desktop turn off autoplay.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Image zoom"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable",
      "default": true
    },
    {
      "type": "range",
      "id": "max_image_zoom_level",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "Max zoom level",
      "default": 3
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Input colors",
      "info": "Applies to elements like quantity selector and variant selectors."
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "input_text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        {
          "type": "vendor"
        },
        {
          "type": "title"
        },
        {
          "type": "badges"
        },
        {
          "type": "price"
        },
        {
          "type": "rating"
        },
        {
          "type": "separator"
        },
        {
          "type": "description"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "pickup_availability"
        }
      ]
    }
  ]
}
{% endschema %}